.bg {
  background-image: url(images/pannels/bach_pannel.png); /* Путь к фоновому изображению */
  background-size: contain;
  background-repeat: no-repeat;
  width: 95vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
#notes {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  width: 100%;
}
