.bg {
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
#notes1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  width: 100%;
}
.img {
  width: 50px;
  height: 50px;
}
.au {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}
.range {
  top: 40%;
  right: 0px;
  -webkit-appearance: none;
  vertical-align: middle;
  outline: none;
  border: none;
  padding: 0;
  background: none;
}
.range::-webkit-slider-runnable-track {
  background-color: #d7dbdd;
  height: 6px;
  border-radius: 3px;
  border: 1px solid transparent;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  border-radius: 100%;
  background-color: #606670;
  height: 18px;
  width: 18px;
  margin-top: -7px;
}
.loading {
  width: 100%;
  height: 100%;
  z-index: 100000;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: black;
}
.pannel {
  top: 0px;
  z-index: -1;
  width: 3000px;
  overflow: hidden;
  height: 378px;
}
.bar {
  width: 100%;
  height: 15px;
  z-index: 100;
  left: 0px;
  position: absolute;
  bottom: 0px;
}
.author {
  width: 200px;
  height: 300px;
  bottom: 0px;
  -webkit-transition: 2s ease-in-out;
  -moz-transition: 2s ease-in-out;
  -o-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
  position: absolute;
  z-index: 100;
  left: calc(50% - 100px);
}
.authorA {
  -webkit-transform: translate(0, -25vh);
  -moz-transform: translate(0, -25vh);
  -o-transform: translate(0, -25vh);
  -ms-transform: translate(0, -25vh);
  transform: scale(1.5) translate(0, -25vh);
}
body {
  display: flex;
}
